<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".views.MyApp"
        android:allowBackup="true"
        android:configChanges="density|fontScale|screenSize|smallestScreenSize|screenLayout"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".views.portfolio.activities.MyPortfolioActivity"
            android:exported="false" />
        <activity
            android:name=".views.stockscreener.StockScreenerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".views.globalmarket.GlobalMarketActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.aof.StatusActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.BaseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.settings.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.aof.fragments.IndexActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.notification.NotificationDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.notification.NotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".views.aof.AofActivity"
            android:configChanges="screenSize|orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="aof.scstrade.com" />
                <data android:pathPattern="/api/verify-email" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.portfolio.activities.EditBuySellActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.portfolio.activities.StockDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.portfolio.activities.BuySellActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.portfolio.activities.PortfolioDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.announcement.AnnoucementActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.detailquote.DetailQuoteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.profile.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.search.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider325684013944376"
            android:exported="true" />

        <activity
            android:name=".views.snapshot.SnapshotActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.contact.ContactActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ChartActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.news.NewsDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.portfolio.activities.PortfolioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.stockscreener.fundamental.FundamentalDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--
    <activity
            android:name=".views.stockscreener.fundamental.FundamentalActivity"
            android:configChanges="screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        -->
        <activity
            android:name=".views.stockscreener.technicals.TechnicalsDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.stockscreener.technicals.TechnicalsFragment"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.watchlist.AddSymbolActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.watchlist.WatchListDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.allstock.StockActivity"
            android:configChanges="screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.main.MainActivity"
            android:exported="true"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>